
// Colors

$white:       #ffffff;
$black:       #333333;
$green:       #00b956;
$purple:      #731982;
$dark-purple: #62096e;
$light-purple:#b808d4;
$gray:        #5c5c5c;
$light-gray:  #d9d9d9;
$pale-gray:   #f0f0f0;

$blue:        #008bfb;
$light-blue:  rgb(97, 108, 255);
$warning:     #f13e3e;

$link-color: $purple;
$hovered-link-color: $light-purple;
