input,
textarea {
  font: inherit;
}

span.required {
  color: $warning;
}

$white:       #ffffff;
$black:       #333333;
$green:       #00b956;
$purple:      #731982;
$dark-purple: #62096e;
$light-purple:#b808d4;
$gray:        #5c5c5c;
$light-gray:  #d9d9d9;

$pale-gray:   #f1f1f1;
$blue:        #4F5BFB;
$light-blue:  rgb(97, 108, 255);
$warning:     #f13e3e;

.inp,
.textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 15px;
  height: 50px;
  line-height: 50px;
  line-height: 1.25em;
  color: $black;
  font-size: 13px;
  font-weight: 300;
  background: $white;
  border: 1px solid $light-gray;
  transition: all .25s ease;
  border-radius: 0;
  outline: none;
  transition: .3s;
  transition-property: border, box-shadow;

  &:focus {
    color: $green;
    border-color: $green;
    box-shadow: 0 0 3px 0 $green;
  }
}


.form {
  .form-field {
    margin-bottom: 20px;

    .error-text {
      color: $warning;
      height: 20px;
      line-height: 20px;
      font-size: 13px;
      margin-top: 5px;
      margin-bottom: 0px;
      transition: .35s;
      opacity: 0;
      display: none;
    }
    &.error {
      .inp, .textarea {
        color: $warning;
        border-color: $warning;
        box-shadow: none;
      }
      .error-text {
        opacity: 1;
        display: block;
      }
    }
  }
}


// checkboxes & radiogroups
// ------------------------
.checkbox,
.radio {
  padding-left: 33px;
  position: relative;
  padding-top: .15em;
  padding-right: 20px;

  &:not(:disabled) {
    cursor: pointer;
  }
  &:before {
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    box-sizing: border-box;
    position: absolute;
    left: 0; top: 0;
    margin-top: 3px;
    background-color: $light-gray;
    border: 6px solid $light-gray;
    transition: .15s;
  }
  &:active:before {
    border: 6px solid $green;
    background-color: $white;
  }
  &.is-checked:before {
    background-color: $light-gray;
    border-color: $green;
  }
  &.is-checked:active:before {
    background-color: $white;
    border-color: $green;
  }
  input {
    display: none;
  }
}

.checkbox {
  &:before {
    border-radius: 3px;
  }
  &.is-checked:before {

  }
}

.radio {
  &:before {
    border-radius: 50%;
  }
}

.tab-button {
  border-radius: 4px;
  height: 40px;
  line-height: 40px;

  &:not(:disabled) {
    cursor: pointer;
  }
  input {
    display: none;
  }

  background-color: transparent;
  color: $black;
  padding: 12px 16px;
  transition: .3s;

  &.is-checked {
    background-color: $green;
    color: $white;
  }
}



